.metaverse-icon {
    width: 28px;
    height: 33px;

    @include tablet() {
        width: 33px;
        height: 38px;
    }

    @include desktop() {
        width: 38px;
        height: 43px;
    }
}