@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,700&family=Roboto:ital,wght@0,100;1,100&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to bottom, #151948, #2e1767);
  background-repeat: no-repeat;
  min-height: 100%;
  min-width: 100%;
}

@mixin desktop() {
  @media only screen and (min-width: 1440px) {
    @content;
  }
}

@mixin tablet() {
  @media only screen and (min-width: 900px) {
    @content;
  }
}

@mixin mini-tablet() {
  @media only screen and (min-width: 650px) {
    @content;
  }
}

button{
  cursor: pointer
}
a{
  cursor: pointer;
}

@import 'components/container';
@import 'components/header';
@import 'components/hero-section';
@import 'components/metaverse-effect-section';
@import 'components/metaverse-icon';
@import 'components/section-heading';
@import 'components/metaverse-evolution-section';
@import 'components/top-stories-section';
@import 'components/see-more-btn';
@import 'components/metaverse-analysis-section';
@import 'components/top-quotes-section';